# Resultados dos testes k6
scripts/results/

# Variáveis de ambiente com credenciais
laravel-app/.env

# Laravel
laravel-app/vendor/
laravel-app/bootstrap/cache/*.php
laravel-app/storage/

# Python / Django
__pycache__/
*.pyc
*.pyo
.venv/
django-app/config/__pycache__/
django-app/api/__pycache__/

# Logs
*.log

# macOS / Linux
.DS_Store
Thumbs.db

# Docker volumes (se gerados localmente)
pgdata/
